.advantages
  .container
    .advantages-list
      a.advantages-item.popup-link(href='#popup')
        .advantages-item__img-cont
          img.advantages-item__img.man-icon(src='assets/images/icons/man.svg')
        span.advantages-item__text Платиновый <br>дилер
      a.advantages-item.popup-link(href='#popup')
        .advantages-item__img-cont
          img.advantages-item__img.car-icon(src='assets/images/icons/car.svg')
        span.advantages-item__text Большой склад <br>а/м в наличии
      a.advantages-item.popup-link(href='#popup')
        .advantages-item__img-cont
          img.advantages-item__img.blank-icon(src='assets/images/icons/blank.svg')
        span.advantages-item__text Кредит <br>на выгодных <br>условиях
      a.advantages-item.popup-link(href='#popup')
        .advantages-item__img-cont
          img.advantages-item__img.exchange-icon(src='assets/images/icons/exchange.svg')
        span.advantages-item__text Trade-in <br>а/м с пробегом
      a.advantages-item.popup-link(href='#popup')
        .advantages-item__img-cont
          img.advantages-item__img.tools-icon(src='assets/images/icons/tools.svg')
        span.advantages-item__text Страхование
      a.advantages-item.popup-link(href='#popup')
        .advantages-item__img-cont
          img.advantages-item__img.prize-icon(src='assets/images/icons/prize.svg')
        span.advantages-item__text Гарантия KIA