header.header
  .container
    .header__cont
      .logo
        img(src='assets/images/logo.svg')
        span.logo__text Официальный дилер KIA

      .header-info
        span.header-info__text.bold Ежедневно с 9:00 до 22:00
        span.header-info__text Москва, 2-я ул. Машиностроения, д. 6

      .header-phone
        a.header-phone__link.bold(href='tel:+78122105174') +7 (812) 210-51-74

      a.btn.popup-link(href='#popup')
        span.btn__inner Заказать звонок

      .kia-logo
        img(src='assets/images/kia-logo.svg')