.timer
  .container
    #countdown.timer__cont
      .timer-num
        .timer-num__col
          span.days.timer-time
          span.timer__text Дня
      .timer-num
        .timer-num__col
          span.hours.timer-time
          span.timer__text Часов
      .timer-num
        .timer-num__col
          span.minutes.timer-time
          span.timer__text Минут
      .timer-num.no-pseudo
        .timer-num__col
          span.seconds.timer-time
          span.timer__text Секунд
      .car-to-finish
        img(src='assets/images/car-to-finish.png')