.popup#popup
  .popup__cont
    button.btn-close
    span.popup__title Заказать звонок
    form.popup__form(name='uekQDls/V4Hl.1uubWpStX0oW6kKNazeUJqt9mCNBBN.i')
      .popup__input-wrapper
        input.input(type='text' name='Телефон' placeholder='Введите номер телефона')
      button.btn
        span.btn__inner Отправить

  .popup-bg