.popup
  .popup__cont
    button.btn-close
    span.popup__title Заказать звонок
    .popup__form
      .popup__input-wrapper
        input.input(type='text')
      button.btn
        span.btn__inner Отправить

  .popup-bg