.info
  .container
    .info__cont
      h2.info__title Получите максимальную выгоду <br>на ваш новый Автомобиль KIA

      .info__btn-cont
        a.info__btn.btn.popup-link(href='#popup')
          .btn__inner Отправить заявку
        .agreement
          input#checkbox.checkbox(type='checkbox' checked)
          label(for='checkbox') Я согласен с&nbsp;<a href='#agreement' class='popup-link privacy-link'>условиями обработки персональных данных</a>