.info
  .container
    .info__cont
      h2.info__title Получите максимальную выгоду <br>на ваш новый Автомобиль KIA

      .info__btn-cont
        button.info__btn.btn
          .btn__inner Отправить заявку
        .agreement
          input#checkbox.checkbox(type='checkbox' checked)
          label(for='checkbox') Я согласен с&nbsp;<a href='#' class='privacy-link'>условиями обработки персональных данных</a>