footer.footer
  .container
    a.popup-link.conditions-link(href='#conditions') Подробные условия акция
    p.footer__text Права на сайт принадлежат ООО «МАНКОМ-АВТО», ИНН 7804605658, ОГРН 1177847290917 <br>2020, Автопродикс, официальный дилер KIA