.main
  .container
    .main__title-cont
      h1.main__title Только 3 дня!
      p.main__p 75 автомобилей KIA <br>по специальной цене!

    button.main__btn.btn
      span.btn__inner Получить выгоду

    .main-advantages
      .main-advantages__item
        span.main-advantages__item-text Кредит от 3,5%!
      .main-advantages__item
        span.main-advantages__item-text Покупка за 1 день!
      .main-advantages__item
        span.main-advantages__item-text ПТС в наличии!