.cars
  .container
    h2.cars__title.title Модельный ряд

  .cars-list
    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-01.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Seltos
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>45 000 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>1 054 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Кредит с остаточным платежом от <span class='bold'>6 000 р.</span>


    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-02.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Picanto
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>689 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>113 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-03.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Rio
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>162 790 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>637 110 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>193 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-04.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Rio X-Line
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>129 490 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>773 910 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>193 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-05.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Cee`d
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>90 000 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>989 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>193 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-06.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Cee`d SW
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>90 000 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>1 029 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>222 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-07.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Cerato Classic
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>90 000 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>929 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>193 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-08.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Cerato
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>88 000 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>1 046 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>200 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-09.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Optima
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>100 000 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>1 264 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>258 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-10.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Stinger
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>310 000 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>1 804 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>387 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-11.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia K900
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>120 000 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>3 449 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>803 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-12.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Soul
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>95 000 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>934 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>192 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-13.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Sportage
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>160 000 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>1 229 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>256 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-14.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Sorento
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>245 000 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>1 054 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>354 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-15.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Sorento Prime
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>230 000 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>1 794 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>451 руб./день</span>

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/cars/car-16.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Mohave
              li.car-advantages__item
                span.car-advantages__text Выгода до <span class='bold'>150 000 р.</span>
              li.car-advantages__item
                span.car-advantages__text Цена от <span class='bold'>2 669 900 р.</span>
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за <span class='bold'>638 руб./день</span>