.cars
  .container
    h2.cars__title.title Модельный ряд

  .cars-list
    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-01.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Seltos
              li.car-advantages__item
                span.car-advantages__text Выгода до 45 000 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 1 054 900 р.
              li.car-advantages__item
                span.car-advantages__text Кредит с остаточным платежом от 6 000 р.


    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-02.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Picanto
              li.car-advantages__item
                span.car-advantages__text Цена от 689 900 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 113 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-03.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Rio
              li.car-advantages__item
                span.car-advantages__text Выгода до 162 790 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 637 110 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 193 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-04.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Rio X-Line
              li.car-advantages__item
                span.car-advantages__text Выгода до 129 490 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 773 910 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 193 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-05.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Cee`d
              li.car-advantages__item
                span.car-advantages__text Выгода до 90 000 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 989 900 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 193 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-06.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Cee`d SW
              li.car-advantages__item
                span.car-advantages__text Выгода до 90 000 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 1 029 900 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 222 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-07.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Cerato Classic
              li.car-advantages__item
                span.car-advantages__text Выгода до 90 000 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 929 900 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 193 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-08.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Cerato
              li.car-advantages__item
                span.car-advantages__text Выгода до 88 000 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 1 046 900 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 200 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-09.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Optima
              li.car-advantages__item
                span.car-advantages__text Выгода до 100 000 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 1 264 900 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 258 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-10.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Stinger
              li.car-advantages__item
                span.car-advantages__text Выгода до 310 000 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 1 804 900 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 387 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-11.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia K900
              li.car-advantages__item
                span.car-advantages__text Выгода до 120 000 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 3 449 900 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 803 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-12.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Soul
              li.car-advantages__item
                span.car-advantages__text Выгода до 95 000 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 934 900 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 192 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-13.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Sportage
              li.car-advantages__item
                span.car-advantages__text Выгода до 160 000 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 1 229 900 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 256 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-14.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Sorento
              li.car-advantages__item
                span.car-advantages__text Выгода до 245 000 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 1 054 900 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 354 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-15.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Sorento Prime
              li.car-advantages__item
                span.car-advantages__text Выгода до 230 000 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 1 794 900 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 451 руб./день

    .car
      .container
        .car__cont
          .car__img-cont
            img(src='assets/images/car-16.png')
          .car__col-1
            button.btn
              span.btn__inner Получить выгоду
            button.btn.btn--gray
              span.btn__inner Привелегии за тест-драйв
            button.btn.btn--empty
              span.btn__inner Рассчитать кредит
          .car__col-2
            ul.car-advantages
              h3.car__title Kia Mohave
              li.car-advantages__item
                span.car-advantages__text Выгода до 150 000 р.
              li.car-advantages__item
                span.car-advantages__text Цена от 2 669 900 р.
              li.car-advantages__item
                span.car-advantages__text Купить в кредит за 638 руб./день