.map
  #map

  .map-info
    p.map-info__p г. Санкт-Петербург, <br>ул. Руставели, 55к1 <br>client-kia@autoprodix.ru
    a.map-info__phone-link(href='tel:+78122105174') +7 812 210-51-74
    a.btn.popup-link(href='#popup')
      span.btn__inner Отправить заявку
    .agreement
      input#checkbox.checkbox(type='checkbox' checked)
      label(for='checkbox') Я согласен с&nbsp;<a href='#agreement' class='popup-link privacy-link'>условиями обработки персональных данных</a>