extends template.pug

block content
  //- Include block-header ('.header')
  include assets/blocks/header/block.pug


  - var page = 'index'
  div(class='content '+ page +'')

    //- Include block-main .main ('.main')
    include assets/blocks/main/block.pug

    //- Include block-cars ('.cars')
    include assets/blocks/cars/block.pug

    //- Include block-info ('.info')
    include assets/blocks/info/block.pug

    //- Include block-advantages ('.advantages')
    include assets/blocks/advantages/block.pug

    //- Include block-advantages ('.advantages')
    include assets/blocks/map/block.pug


  //- Include popup ('.popup')
  include assets/blocks/popup/block.pug

  //- Include popup-agreement ('.popup.popup-agreement')
  include assets/blocks/popup-agreement/block.pug

  //- Include popup-conditions ('.popup.popup-conditions')
  include assets/blocks/popup-conditions/block.pug

  //- Include block-footer ('.footer')
  include assets/blocks/footer/block.pug