extends template.pug

block content
  //- Include block-header ('.header')
  include assets/blocks/header/block.pug


  - var page = 'index'
  div(class='content '+ page +'')

    //- Include block-main .main ('.main')
    include assets/blocks/main/block.pug

    //- Include block-cars ('.cars')
    include assets/blocks/cars/block.pug

    //- Include block-info ('.info')
    include assets/blocks/info/block.pug


  //- Include block-footer ('.footer')
  include assets/blocks/footer/block.pug